    <!-- head include -->
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../CSS/submissionPage.css">
</head>
<body>


    <!-- nav include -->
    <%- include('../includes/nav.ejs') %>

    <!-- header include -->
    <%- include('../includes/secHeader.ejs') %>

    <div id="submisson_form_wrap">

            <!-- add tile -->
            <div id="subm_title_wrap">
                <h2>SHARE YOUR CHILLING TALE</h2>
                <p>
                    Unleash your creativity and share your chilling tale with us! Whether it's a horror masterpiece, a captivating Creepypasta, or a short story that sends shivers down the spine, we welcome stories from all skill levels. Whether you're a seasoned writer or a novice storyteller, everyone is encouraged to publish their tales of terror. Your unique perspective adds to the diverse tapestry of horror stories on our platform. Embrace the darkness and let your imagination run wild!
                </p>
            </div>
            

            <!-- important message -->
            <div id="important_message">
                <h3 style="font-size: 2rem; color: red;">
                    Prohibited Content
                </h3>

                <ul>
                    <li>Is explicit, obscene, or pornographic in nature.</li>

                    <li>Targets or exploits children in any way.</li> 

                    <li>Constitutes harassment, bullying, or the promotion of violence.</li>

                    <li>Violates any applicable laws or regulations.</li>

                    <li>Contains hate speech, threats, or defamation against a person or group.</li>

                    <li>Reveals private or personal information about someone without consent.</li>

                    <li>Impersonates someone in a misleading or deceptive manner.</li>

                    <li>Promotes dangerous or illegal acts.</li>

                    <li>Engages in unauthorized copying, plagiarism, or any illegal use of others' work.</li>

                </ul>

                <br>

                <p><strong class="special_red_text">Important Note:</strong> Any User Content that is deemed to be in violation of these guidelines will be removed from the site and the user will be banned from submitting further content. Users found in violation of these terms may be subject to account suspension or termination.</p>

                <br>

                <p>
                    <strong class="special_red_text">Important Note:</strong> If you are under 18, do NOT submit stories here. Instead, email your story and parent/guardian contact info to: <a class="link_styles" href="mailto:help.terrorhub@gmail.com">help.terrorhub@gmail.com</a>

                    As a minor, you cannot enter into a publishing contract. If we are interested in your story, we will contact your parent/guardian for consent and release forms.
                    
                    Any under 18 submissions through this form will be automatically rejected. Parental supervision is advised.
                </p>

            </div>

            <!-- action="/terrorTales/submission" method="POST" -->
            <form id="submission_form" onsubmit="sendData(event)">
                
                
                <% if(!legalName){ %>
                    <!-- check if user allready submide legal name -->
                    <div class="form_group" id="legalNameGroup">
                        <label for="legalName">Legal Name (Will not be shared with the public)*</label>
                        <input type="text" id="legalName" name="legalName" required placeholder="Enter Full Legal Name">
                        <p class="input_info">
                            To submit your story, we require your full legal name. By doing so, you agree to our terms and conditions, granting us permission to publish your story on our site. Don't worry, your full legal name will be treated with the utmost confidentiality and will not be disclosed publicly. Providing your full name also helps us in case we need to contact you regarding your story and ensures that proper credit is given where it's due.
                        </p>
                    </div>     
                <% }else{ %>  
                    <input type="hidden" id="legalName" name="legalName" required value="<%= legalName !== null ? legalName : '' %>">
                <% } %>

                <!-- choose language story will be written -->
                <div class="form_group" id="languageGroup">
                    <label for="language">Language*</label>
                    <select id="language" name="language">
                        <option value="English">English</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Mandarin Chinese">Mandarin Chinese</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Arabic">Arabic</option>
                        <option value="Bengali">Bengali</option>
                        <option value="Portuguese">Portuguese</option>
                        <option value="Russian">Russian</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Punjabi">Punjabi</option>
                        <option value="German">German</option>
                        <option value="Wu Chinese">Wu Chinese</option>
                        <option value="Javanese">Javanese</option>
                        <option value="Korean">Korean</option>
                        <option value="French">French</option>
                        <option value="Telugu">Telugu</option>
                        <option value="Marathi">Marathi</option>
                        <option value="Tamil">Tamil</option>
                        <option value="Turkish">Turkish</option>
                        <option value="Vietnamese">Vietnamese</option>
                    </select>
                    <p class="input_info">
                        Please choose the language in which your story is written. If your preferred language isn't listed, please contact the admin to request its addition to the options.
                    </p>
                </div>                
                
                <div class="form_group" id="socialMediaGroup">
                    <label for="socialMedia">Social Media Links</label>
                    <div class="inner_formGroup">
                        <input type="text" id="facebookInput" name="socialMedia" placeholder="Facebook">
                        <input type="text" id="twitterInput" name="socialMedia" placeholder="Twitter">
                        <input type="text" id="instagramInput" name="socialMedia" placeholder="Instagram">
                        <input type="text" id="linkedinInput" name="socialMedia" placeholder="LinkedIn">
                        <input type="text" id="pinterestInput" name="socialMedia" placeholder="Pinterest">
                        <input type="text" id="youtubeInput" name="socialMedia" placeholder="YouTube Channel">
                    </div>
                    <p class="input_info">
                        Please enter the URLs of any social media accounts you'd like to share with our readers. If you don't have any social media accounts, you can leave this field blank.
                    </p>
                </div>

                <div class="form_group" id="websiteGroup">
                    <label for="website">Website</label>
                    <input type="text" id="website" name="website" placeholder="Enter your Secure website URL ">
                    <p class="input_info">
                        Enter your secure website URL using (https://). This link can be a great way to promote your website, book, or other content. If you don't have a secure website, feel free to leave this field blank.
                    </p>
                </div>

                <!-- add a youtube video link to this story -->
                <div class="form_group" id="youtubeGroup">
                    <label for="youtube">Youtube Story Link</label>
                    <input type="text" id="youtube" name="youtube" placeholder="Enter your youtube story link">
                    <!-- this link will be used to display video in the -->
                    <p class="input_info">
                        Please enter the URL of your YouTube video. This link will be used to display the video in the story's Page. If you don't have a YouTube video, feel free to leave this field blank.
                    </p>
                </div>

                <div class="form_group" id="storyTitleGroup">
                    <label for="storyTitle">Story Title*</label>
                    <input type="text" id="storyTitle" name="storyTitle" required placeholder="Enter your story title">
                    <p class="input_info">
                        Please enter your story title exactly as you would like it to appear on the site if your story is published. (max 80 characters)
                    </p>
                </div>

                <div class="form_group" id="storySummaryGroup">
                    <label for="storySummary">Story Summary*</label>
                    <textarea id="storySummary" name="storySummary" required placeholder="Enter a summary of your story"></textarea>
                    <p class="input_info">
                        Please enter a brief summary of your story. This summary will be used to help readers decide whether or not to read your story, so make it as compelling as possible!
                        (max 400 characters)
                    </p>
                </div>

                <div class="form_group" id="tagsGroup">
                    <label for="tags">Tags (separated by commas)*</label>
                    <input type="text" id="tags" name="tags" placeholder="Enter tags separated by commas">
                    <p class="input_info">
                        Please enter a list of tags that describe your story. Separate tags with commas. These tags will be used to help readers find your story, so include relevant keywords like (haunted house, ghosts, paranormal, horror) etc.
                    </p>
                </div>

                <div class="form_group" id="storyTextGroup">
                    <label for="storyText">Write Your Story*</label>
                    <textarea id="storyText" name="storyText" required placeholder="Enter the text of your story"></textarea>
                    <p class="input_info">
                        <p class="input_info">
                            By submitting my story via this online form, I grant <span class="special_red_text">www.terrorhub.com</span> non-exclusive rights to publish my original work. I affirm that I possess all necessary rights and have not plagiarized or borrowed content.
                        
                            <br><br>
                        
                            As the copyright holder, I retain ownership of my story. I can license it or use it as I choose. I understand that <span class="special_red_text">www.terrorhub.com</span> only claims rights to publish my story and does not own it beyond that.
                        
                            <br><br>
                        
                            I agree not to receive any compensation from <span class="special_red_text">www.terrorhub.com</span> for publishing my story. I acknowledge that I have no claim to profits from advertising or donations on the site.
                        
                            <br><br>
                        
                            If I wish to request takedown or edits, I can contact the site’s administrators directly.
                        </p>
                        
                </div>


                <div id="categoriesGroup">

                    <label id="categories_label" for="categories">Select Scary Categories:</label>

                    <!-- AI created -->
                    <div id="radio_wrap">

                        <div class="checkbox-group">
                            <input type="checkbox" id="AICreated" name="categories" value="AI Created">
                            <label for="AICreated">AI Created</label>
                        </div>
                    
                        <div class="checkbox-group">
                            <input type="checkbox" id="SupernaturalHorror" name="categories" value="Supernatural Horror">
                            <label for="SupernaturalHorror">Supernatural Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="PsychologicalHorror" name="categories" value="Psychological Horror">
                            <label for="PsychologicalHorror">Psychological Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="BodyHorror" name="categories" value="Body Horror">
                            <label for="BodyHorror">Body Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="Slasher" name="categories" value="Slasher">
                            <label for="Slasher">Slasher</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="FoundFootage" name="categories" value="Found Footage">
                            <label for="FoundFootage">Found Footage</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="SciFiHorror" name="categories" value="Sci-Fi Horror">
                            <label for="SciFiHorror">Sci-Fi Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="TrueCrime" name="categories" value="True Crime">
                            <label for="TrueCrime">True Crime</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="LovecraftianHorror" name="categories" value="Lovecraftian Horror">
                            <label for="LovecraftianHorror">Lovecraftian Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="Creepypasta" name="categories" value="Creepypasta">
                            <label for="Creepypasta">Creepypasta</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="FolkHorror" name="categories" value="Folk Horror">
                            <label for="FolkHorror">Folk Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="BodySnatcherHorror" name="categories" value="Body Snatcher Horror">
                            <label for="BodySnatcherHorror">Body Snatcher Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="ZombieApocalypse" name="categories" value="Zombie Apocalypse">
                            <label for="ZombieApocalypse">Zombie Apocalypse</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="GothicHorror" name="categories" value="Gothic Horror">
                            <label for="GothicHorror">Gothic Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="VampireHorror" name="categories" value="Vampire Horror">
                            <label for="VampireHorror">Vampire Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="WerewolfHorror" name="categories" value="Werewolf Horror">
                            <label for="WerewolfHorror">Werewolf Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="HauntedHouse" name="categories" value="Haunted House">
                            <label for="HauntedHouse">Haunted House</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="OccultHorror" name="categories" value="Occult Horror">
                            <label for="OccultHorror">Occult Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="ReligiousHorror" name="categories" value="Religious Horror">
                            <label for="ReligiousHorror">Religious Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="MonsterHorror" name="categories" value="Monster Horror">
                            <label for="MonsterHorror">Monster Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="AlienInvasion" name="categories" value="Alien Invasion">
                            <label for="AlienInvasion">Alien Invasion</label>
                        </div>

                        <!-- horror -->
                        <div class="checkbox-group">
                            <input type="checkbox" id="Horror" name="categories" value="Horror">
                            <label for="Horror">Horror</label>
                        </div>

                        <!-- Classic Horror -->
                        <div class="checkbox-group">
                            <input type="checkbox" id="ClassicHorror" name="categories" value="Classic Horror">
                            <label for="ClassicHorror">Classic Horror</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" id="HorrorComedy" name="categories" value="Horror Comedy">
                            <label for="HorrorComedy">Horror Comedy</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" id="HorrorDrama" name="categories" value="Horror Drama">
                            <label for="HorrorDrama">Horror Drama</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" id="HorrorThriller" name="categories" value="Horror Thriller">
                            <label for="HorrorThriller">Horror Thriller</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" id="HorrorMystery" name="categories" value="Horror Mystery">
                            <label for="HorrorMystery">Horror Mystery</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" id="HorrorRomance" name="categories" value="Horror Romance">
                            <label for="HorrorRomance">Horror Romance</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" id="2sentenceHorrorStories" name="categories" value="2 sentence horror stories">
                            <label for="2sentenceHorrorStories">2 sentence horror stories</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="ShortHorrorStories" name="categories" value="Short Horror Stories">
                            <label for="ShortHorrorStories">Short Horror Stories</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="GhostStories" name="categories" value="Ghost Stories">
                            <label for="GhostStories">Ghost Stories</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="HistoricalHorror" name="categories" value="Historical Horror">
                            <label for="HistoricalHorror">Historical Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="CursedObjects" name="categories" value="Cursed Objects">
                            <label for="CursedObjects">Cursed Objects</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="ApocalypticHorror" name="categories" value="Apocalyptic Horror">
                            <label for="ApocalypticHorror">Apocalyptic Horror</label>
                        </div>
                        
                        <div class="checkbox-group">
                            <input type="checkbox" id="Witchcraft" name="categories" value="Witchcraft and Witches">
                            <label for="Witchcraft">Witchcraft and Witches</label>
                        </div>

                        <!-- Survival Horro -->
                        <div class="checkbox-group">
                            <input type="checkbox" id="SurvivalHorror" name="categories" value="Survival Horror">
                            <label for="SurvivalHorror">Survival Horror</label>
                        </div>

                        <!--  Abductions and Kidnappings -->
                        <div class="checkbox-group">
                            <input type="checkbox" id="AbductionsAndKidnappings" name="categories" value="Abductions and Kidnappings">
                            <label for="AbductionsAndKidnappings">Abductions and Kidnappings</label>
                        </div>

                        <!-- Toys and Dolls -->
                        <div class="checkbox-group">
                            <input type="checkbox" id="ToysAndDolls" name="categories" value="Toys and Dolls">
                            <label for="ToysAndDolls">Toys and Dolls</label>
                        </div>

                        <!-- Urban Legends -->
                        <div class="checkbox-group">
                            <input type="checkbox" id="UrbanLegends" name="categories" value="Urban Legends">
                            <label for="UrbanLegends">Urban Legends</label>
                        </div>

                        <!-- Technology, the Internet, and the Deep Web -->
                        <div class="checkbox-group">
                            <input type="checkbox" id="TechnologyTheInternetAndTheDeepWeb" name="categories" value="Technology, the Internet, and the Deep Web">
                            <label for="TechnologyTheInternetAndTheDeepWeb">Technology, the Internet, and the Deep Web</label>
                        </div>

                        <!-- Myths and Legends -->
                        <div class="checkbox-group">
                            <input type="checkbox" id="MythsAndLegends" name="categories" value="Myths and Legends">
                            <label for="MythsAndLegends">Myths and Legends</label>
                        </div>

                        <!-- Madness, Paranoia, and Mental Illness -->
                        <div class="checkbox-group">
                            <input type="checkbox" id="MadnessParanoiaAndMentalIllness" name="categories" value="Madness, Paranoia, and Mental Illness">
                            <label for="MadnessParanoiaAndMentalIllness">Madness, Paranoia, and Mental Illness</label>
                        </div>

                        <!-- Conspiracies and Government -->
                        <div class="checkbox-group">
                            <input type="checkbox" id="ConspiraciesAndGovernment" name="categories" value="Conspiracies and Government">
                            <label for="ConspiraciesAndGovernment">Conspiracies and Government</label>
                        </div>


                        <!-- <div class="checkbox-group">
                            
                        </div> -->

                    </div>
                    
                </div>

                <!-- add extra tags -->
                <div class="form_group" id="extraTagsGroup">
                    <label for="extraTags">Extra Categories (separated by commas):</label>
                    <input type="text" id="extraTags" name="extraTags" placeholder="Enter extra tags separated by commas">
                    <p class="input_info">
                        Please enter any additional tags or keywords that would best describe the topics and themes your story is concerned with, in order to help us make it easier for interested readers to find your story with a keyword search. Multiple tags or keywords should be separated by a comma.
                    </p>
                </div>


                <div id="termsAndConditions">

                    <h2 style="font-size: 2rem; color: red;">Terms and Conditions!!</h2>
                    <p><strong>Effective Date:</strong> <span id="serviceDate"></span></p>
                
                    <section>
                        <h2>Using Our Services</h2>
                        <p>When you use www.terrorHub.com ("Website"), you're agreeing to these terms. We might update them sometimes. If we do, we'll let you know. By continuing to use the site, you're saying you're okay with any changes.</p>
                    </section>
                
                    <section>
                        <h2>Your Content</h2>
                        <p>If you share stories, images, videos, or anything else ("Content") on our site, you still own it. But you're giving us permission to show it on our site and other related places. If we want to make big changes to your content, we'll ask for your approval first.</p>
                        <p><strong>Original Content Ownership:</strong> By submitting a story to this platform, you affirm that you are the original author and rightful owner of the content. You warrant that the story is not plagiarized, copied, or derived from any other source without proper attribution. You are solely responsible for ensuring that your story does not infringe upon any third-party intellectual property rights, including copyright, trademark, or trade secret.</p>
                      </section>
                
                      <section>
                        <h2>Compensation</h2>
                        <p>We don't pay you for your content directly. We might show ads or accept donations to keep the site running. If you're looking to get paid for your work, let's talk about it separately. Please note that compensation is not provided for content shared on platforms related to the website, including but not limited to YouTube, TikTok, etc.</p>
                    </section>
                    
                
                    <section>
                        <h2>Legal Policies</h2>
                        <p>We have the right to edit or remove any content that doesn't follow our rules. We try our best to keep things secure, but we can't guarantee that someone won't copy your content without permission.</p>
                    </section>
                
                    <section>
                        <h2>Copyright</h2>
                        <p><strong>Indemnification:</strong> You agree to indemnify and hold harmless the platform, its owners, agents, and affiliates from any and all claims, damages, or liabilities arising from any breach of these terms, including but not limited to copyright infringement.</p>
                        <p><strong>Right to Remove Infringing Content:</strong> The platform reserves the right to remove any story that is suspected of violating copyright laws or these terms and conditions without prior notice. If you believe that a story on the platform infringes on your copyright, you may submit a takedown request in accordance with the Digital Millennium Copyright Act (DMCA).</p>
                    </section>
                
                    <section>
                        <h2>Contact Us</h2>
                        <p>If you have questions, reach out to us at help.terrorhub@gmail.com. By using our site, you're agreeing to these Terms and Conditions.</p>
                    </section>
                
                </div>
                
                
                  
                <!-- Age Verification -->
                <div class="form-group legalStyles" id="ageVerificationGroup">
                    <input type="checkbox" id="ageVerification" name="ageVerification" required value="true">
                    <label for="ageVerification">I verify that I am at least 18 years old</label>
                </div>        

                <div class="form_group legalStyles" id="acceptedTermsGroup">                                          
                    <input type="checkbox" id="acceptedTerms" name="acceptedTerms" required value="true">    
                    <label for="acceptedTerms">I accept the terms and conditions</label>                            
                </div>

                <!-- i have read the terms and conditions -->
                <div class="form_group legalStyles">                    
                    <input type="checkbox" id="read_termsAndConditions" name="termsAndConditions" required value="true">
                    <label for="termsAndConditions">I have read and agree to the terms and conditions</label>
                </div>

                <div class="form_group" id="termsAndConditionsGroup_info">
                    <button class="call_to_action_red" id="showTermsLink" onclick="toggleTerms(event)">Show Terms and Conditions</button> 
                    <p class="input_info">
                        <span class="special_red_text">Important Note:</span> If you're under 18, please don't use this form to submit your story due to [specific reason, e.g., legal restrictions]. For more details, see our disclaimer highlighted in yellow at the page's top. Stories from individuals under 18 or those with plagiarized content will be banned, and their content will be removed.
                    </p>                    
                </div>

                <!-- You can add more fields for rating and reporting here --->
                <input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
                <input id="storySubmit_form" class="call_to_action_yellow" type="submit" value="Submit">
            </form>

    </div>

    <!-- footer include -->
    <%- include('../includes/footer.ejs') %>
    
    <script src="../../JS/master.js"></script>  
    <script src="../../JS/submission.js"></script>
</body>
</html>
