    <!-- head include -->
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../../CSS/homePage.css">
    <link rel="stylesheet" href="../../CSS/landingStoryPage.css">
</head>
<body>


    <!-- nav include -->
    <%- include('../includes/nav.ejs') %>

    <!-- header include -->
    <%- include('../includes/secHeader.ejs') %>

    <!-- do not allow to refresh -->

    <main id="master_wrap">


        <section id="leftSide" class="storie_sections">


            <div id="formWrap_">

                <% if(userActive && userData.isStoryAllowed ) {%>

                    <nav id="innerStory_nav">

                        <a class="innerStory_navLinks" href="/terrorTales/submission">Create Story</a>
    
                    </nav>

                <% }else{%>
                    <!-- become writer -->
                    <nav id="innerStory_nav">
                        <h2>Join our Writing Community</h2>
                        <p>Unleash your creativity, share your stories, and upvote your favorite tales!</p>
                        <a href="/user/register">Sign Up to Participate</a>
                    </nav>
                    
                <% } %>

                <form id="search_stories">

                    <!-- global search input -->
                    <div class="inputWrap" id="searchWrap">
                        <!-- <label for="search">Search:</label><br> -->
                        <input class="queryData" type="text" id="search" name="search" placeholder="Title, Author, tags, Catagories...."><br>
                    </div>
            
                    <div class="inputWrap" id="languageWrap">
                        <!-- <label for="language">Language:</label><br> -->
                        <select class="selectQueryData" id="language" name="language">
                            <option value="English">English</option>
                            <!-- Add as many languages as you need -->
                        </select><br>
                    </div>
            
                    <!-- csrf -->
                    <input id="csrf" type="hidden" name="_csrf" value="<%= csrfToken %>">
            
                </form>         

            </div>

            <!-- Top ranked stories -->
            <!-- <div id="topRanked">
                <h2>Top Ranked</h2>
                <div id="topRankedWrap">
                    
                </div>
            </div> -->

            <!-- story list -->
            <div id="storyList">
                <h2>Recommended Stories</h2>
                <div id="storyListWrap">
                    <!-- story list goes here -->
                </div>
            </div>

            <!-- pagination button -->
            <div id="loadMOreBUtton_wrap">
                 <button id="loadMore">Load More</button>
            </div>

        </section>

        <!-- <section id="rightSide" class="storie_sections">

        </section> -->

    </main>  

    <!-- footer include -->
    <%- include('../includes/footer.ejs') %>

    <!-- script -->
    <script src="../../JS/master.js"></script>  
    <script src="../../JS/storyPageFun.js"></script>  
</body>
</html>