    <!-- head include -->
    <%- include('../includes/head.ejs') %>
</head>
<body>

    <% if(message) {%>
        <div class="message"><%= message %></div>        
    <% } %>

        
    <!-- log in form -->
    <form action="/user/login" method="POST">        
        <!-- email -->
        <input type="email" name="email" placeholder="email" required value="<%= body != null ? body.email : '' %>">
        <input type="password" name="password" placeholder="password" required value="<%= body != null ? body.password : '' %>">
        <!-- csrf -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">Log In</button>

    </form>


    <!-- home -->
    <a href="/">home</a>

    <a href="/deathClock/questions">questions</a>

    <!-- /graveyard -->
    <a href="/deathClock/graveyard">graveyard</a>

    <!-- /terrorTales/home -->
    <a href="/terrorTales">terrorTales</a>
    
    <a href="/user/register">Register</a>
    


    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>