    <!-- head include -->
    <%- include('../includes/head.ejs') %>
    <!-- css  -->
    <link rel="stylesheet" href="../../CSS/userInterface.css">
</head>
<body>


    <!-- nav include -->
    <%- include('../includes/nav.ejs') %>

    <div id="main_wrap">


        <div id="form_wrap">

            <% if(message) {%>
                <div class="message"><%= message %></div>        
            <% } %>
                
            <!-- log in form -->
            <form action="/user/login" method="POST">        
                <!-- email -->
                <input type="email" name="email" placeholder="email" required value="<%= body != null ? body.email : '' %>">
                <input type="password" name="password" placeholder="password" required value="<%= body != null ? body.password : '' %>">
                <!-- csrf -->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <!-- allow to see password -->
                <div id="display_password_wrap">
                    <label for="showPassword">Show Password</label>
                    <input id="showPassword" type="checkbox" onclick="showPassword_()">
                </div>

                <!-- reset password -->
                <a class="resetPassword" href="/user/resetPasswordRequest">Forgot Password?</a>                
                
                <button class="call_to_action_yellow" type="submit">Log In</button>                

            </form>  

        </div> 
    
    </div>   

    <!-- footer include -->
    <%- include('../includes/footer.ejs') %>

    <!-- script -->
    <script src="../JS/master.js"></script> 

</body>
</html>