    <!-- head include -->
    <%- include('../includes/head.ejs') %>
</head>
<body>

    <% if(message) {%>
        <div class="message"><%= message %></div>
    <% } %>
    <!-- register form -->
    <form action="/user/register" method="POST">
        <input type="text" name="username" placeholder="username" required value="<%= body != null ? body.username : ''  %>">
        <input type="email" name="email" placeholder="email" required value="<%= body != null ? body.email : ''  %>">
        <input type="password" name="password" placeholder="password" required value="<%= body != null ? body.password : ''  %>">
        <input type="password" name="confirmPassword" placeholder="confirm password" required value="<%= body != null ? body.confirmPassword : ''  %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">Register</button>
    </form>

    <!-- home -->
    <a href="/">home</a>

    <a href="/deathClock/questions">questions</a>

    <!-- /graveyard -->
    <a href="/deathClock/graveyard">graveyard</a>

    <!-- /terrorTales/home -->
    <a href="/terrorTales">terrorTales</a>
    
    <a href="/user/login">Log In</a>
    


    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>