    <!-- head include -->
    <%- include('../includes/head.ejs') %>
    <!-- css  -->
    <link rel="stylesheet" href="../../CSS/userInterface.css">
</head>
<body>


    <!-- nav include -->
    <%- include('../includes/nav.ejs') %>



    <div id="main_wrap">


        <div id="form_wrap">   

            <% if(message) {%>
                <div class="message"><%= message %></div>
            <% } %>

            <!-- register form -->
            <form action="/user/register" method="POST">

                <input type="text" name="username" placeholder="username" required value="<%= body != null ? body.username : ''  %>">
                <input type="email" name="email" placeholder="email" required value="<%= body != null ? body.email : ''  %>">
                <input type="date" id="date" name="age" required value="1990-01-01" min="1950-01-01" max="2018-12-31">
                <input type="password" name="password" placeholder="password" required value="<%= body != null ? body.password : ''  %>">
                <input type="password" name="confirmPassword" placeholder="confirm password" required value="<%= body != null ? body.confirmPassword : ''  %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <!-- allow to see password -->
                <div id="display_password_wrap">
                    <label for="showPassword">Show Password</label>
                    <input id="showPassword" type="checkbox" onclick="showPassword_()">
                </div>

                <!-- User input for the answer -->
                <h2 id="captcha_title">
                    Bot Test!
                </h2>
                <label id="captcha_label" for="captcha_input"></label>
                <input type="text" id="captcha_input" placeholder="Your Answer" required>

                <button class="call_to_action_yellow" type="submit"  onclick="allowRegestry(event)">Register</button>

            </form>

        </div>

    </div>  

    <!-- footer include -->
    <%- include('../includes/footer.ejs') %>


    <script>            

            ////////////////////// CAPTCHA /////////////////////////
            function refreshCaptcha() {

                const darkRiddles = [
                        "What is 1x1?",
                        "What is 1+1?",
                        "What is 1-1?",
                        "What is 1/1?",
                        "What is 100x0?",
                        "What is 0+0?"                        
                    ];


                const randomDarkRiddle = darkRiddles[Math.floor(Math.random() * darkRiddles.length)];
                const label = document.getElementById('captcha_label');
                label.innerHTML = randomDarkRiddle;
            }

            refreshCaptcha();

         // Function to refresh the riddle
            function allowRegestry (e) {

                    // Prevent the form from submitting
                    e.preventDefault();

                    const riddlesAnswers = [
                        "1",
                        "2",
                        "0",
                        "1",
                        "0",
                        "0"
                    ];

                    const input = document.getElementById('captcha_input').value.trim().toLowerCase();
                    
                    // Check if the answer is correct
                    if (riddlesAnswers.includes(input)) {
                        document.querySelector('form').submit();
                    } else {
                        alert('Wrong answer, try again');
                        //clear the input
                        document.getElementById('captcha_input').value = '';
                        //focus on the input
                        document.getElementById('captcha_input').focus();
                        refreshCaptcha();
                    }

            }
    </script>

        <script>
            // set max to 18 years old from current date
            const setDateAttribute = () => {
                const date = new Date();
                const year = date.getFullYear();
                const month = date.getMonth() + 1;
                const day = date.getDate();
                const maxDate = `${year - 18}-${month < 10 ? "0" + month : month}-${day < 10 ? "0" + day : day}`;
                
                const dateEle = document.getElementById("date");
                dateEle.setAttribute("max", maxDate);
            };

            setDateAttribute();

            // listen to the change event on the date input and add new date value 
            const dateEle = document.getElementById("date");

            const updateDateVALUE = () => {
                const date = dateEle.value;
                dateEle.setAttribute("value", date);
            };

            dateEle.addEventListener("change", updateDateVALUE);

        </script>

    <!-- script -->
    <script src="../../JS/master.js"></script> 
    
</body>
</html>