    <!-- head include -->
    <%- include('../includes/head.ejs') %>
    <!-- css  -->
    <link rel="stylesheet" href="../../CSS/userInterface.css">
</head>
<body>


    <!-- nav include -->
    <%- include('../includes/nav.ejs') %>

    <div id="main_wrap">


        <div id="form_wrap">

            <% if(message) {%>
                <div class="message"><%= message %></div>        
            <% } %>
            
            <!-- log in form -->
            <form action="/user/sendResetLinkToEmail" method="POST">        
                <!-- email -->
                <input type="email" name="email" placeholder="email" required value="<%= body != null ? body.email : '' %>">
                <!-- csrf -->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">                
                
                <button class="call_to_action_yellow" type="submit">Request Reset</button>                

            </form>  

        </div> 
    
    </div>   

    <!-- footer include -->
    <%- include('../includes/footer.ejs') %>

    <!-- script -->
    <script src="../JS/master.js"></script> 

</body>
</html>