    <!-- head include -->
    <%- include('../includes/head.ejs') %>
    <!-- css  -->
    <link rel="stylesheet" href="../../CSS/userInterface.css">
</head>
<body>


    <!-- nav include -->
    <%- include('../includes/nav.ejs') %>

    <div id="main_wrap">


        <div id="form_wrap">

            <% if(message) {%>
                <div class="message"><%= message %>TEST</div>        
            <% } %>
                
            <!-- log in form -->
            <form action="/user/resetPassword" method="POST">        
                <!-- email -->
                <input type="password" name="password" placeholder="Enter New Password" required value="<%= body != null ? body.password : '' %>">
                <input type="password" name="verifyPassword" placeholder="Confirm New Password" required value="<%= body != null ? body.password : '' %>">
                <!-- add user id hidden -->
                <input type="hidden" name="id" value="<%= userID %>">
                <!-- csrf -->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <!-- allow to see password -->
                <div id="display_password_wrap">
                    <label for="showPassword">Show Password</label>
                    <input id="showPassword" type="checkbox" onclick="showPassword_()">
                </div>
                
                <button class="call_to_action_yellow" type="submit">Reset</button>                

            </form>  

        </div> 
    
    </div>   

    <!-- footer include -->
    <%- include('../includes/footer.ejs') %>

    <!-- script -->
    <script src="../JS/master.js"></script> 

</body>
</html>