    <!-- head include -->
    <%- include('../includes/head.ejs') %>
    <!-- css  -->
    <link rel="stylesheet" href="../../CSS/userInterface.css">
</head>
<body>

    <!-- nav include -->
    <%- include('../includes/nav.ejs') %>  

    <main id="main_wrap">
        <div id="verify_wrap">

            <h2>Verification Link Sent to <br> <span class="special_yellow_text"><%= email %></span></h2>
            <p style="color: whitesmoke;">We've sent a verification link to your email, If you don't see it, please check your spam folder.</p>
            
            
            <!-- Didn't get the email? -->
            <a class="call_to_action_red" href="/user/resenverificationLink/<%= id %>">Resend Verification.</a>
        </div>  
    </main>

    <!-- footer include -->
    <%- include('../includes/footer.ejs') %>

    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>