    <!-- head include -->
    <%- include('./includes/head.ejs') %>
</head>
<body>

    <!-- nav include -->
    <%- include('./includes/nav.ejs') %>

    <!-- header include -->
    <%- include('./includes/header.ejs') %>



        <div id="errorContainer">
            <h1><%= statusCode %></h1>
            <h2><%= message %></h2>
            <br>
            <br>
            <a href="/">Home</a>
        </div>


    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>