    <!-- head include -->
    <%- include('./includes/head.ejs') %>

    <link rel="stylesheet" href="../../../CSS/homePage.css">
    
</head>
<body>


    <!-- nav include -->
    <%- include('./includes/nav.ejs') %>

    <!-- header include -->
    <%- include('./includes/header.ejs') %>

    <!-- main -->
    <main>

            <!-- stories -->

        <!-- about include -->
        <%- include('./includes/homePage/horrorStorysAbout.ejs') %>

         <!-- Lates Stories -->
         <%- include('./includes/homePage/LatestStories.ejs') %>

        <!-- howItWorks -->
        <%- include('./includes/homePage/howItWorksHorrorStories.ejs') %>       



            <!-- death clock -->

        <!-- about include -->
        <%- include('./includes/homePage/deathClockAbout.ejs') %>

        <!-- howItWorks -->
        <%- include('./includes/homePage/howItWorksDeathClock.ejs') %>        

        <!-- graveyard0 -->
        <%- include('./includes/homePage/exploreGraveyard.ejs') %>

    </main>


    <!-- footer include -->
    <%- include('./includes/footer.ejs') %>

    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>