    <!-- head include -->
    <%- include('./includes/head.ejs') %>

    <link rel="stylesheet" href="../../../CSS/homePage.css">
    
</head>
<body>


    <!-- nav include -->
    <%- include('./includes/nav.ejs') %>

    <!-- header include -->
    <%- include('./includes/header.ejs') %>

    <!-- main -->
    <main>

        <!-- about include -->
        <%- include('./includes/homePage/about.ejs') %>

        <!-- howItWorks -->
        <%- include('./includes/homePage/howItWorks.ejs') %>

        <!-- Lates Stories -->
        <%- include('./includes/homePage/LatestStories.ejs') %>

        <!-- graveyard0 -->
        <%- include('./includes/homePage/exploreGraveyard.ejs') %>

    </main>


    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>