    <!-- head include -->
    <%- include('./includes/head.ejs') %>
</head>
<body>

    <!-- nav include -->
    <%- include('./includes/nav.ejs') %>

    <!-- header include -->
    <%- include('./includes/header.ejs') %>



        <div id="message_Container">
            <h1><%= successTitle %></h1>
            <h2><%= successMessage %></h2>
            <br>
            <br>
            <a href="/">Home</a>
        </div>

    <!-- footer include -->
    <%- include('./includes/footer.ejs') %>
    
    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>