    <!-- head include -->
    <%- include('./includes/head.ejs') %>
</head>
<body>

    <!-- nav include -->
    <%- include('./includes/nav.ejs') %>



        <div id="message_Container">
            <h2><%= successTitle %></h2>
            <h3><%= successMessage %></h3>
            <a href="/">Home</a>
        </div>

    <!-- footer include -->
    <%- include('./includes/footer.ejs') %>
    
    <!-- script -->
    <script src="../JS/master.js"></script> 
</body>
</html>