<section id="LatestStories" class="sections">

    <!-- title -->
    <h2 class="about_title">
        LATEST CREEPYPASTA <span class="special_yellow_text" style="display: inline;">STORIES</span>
    </h2>


    <!-- content -->
    <div id="latestStories_inner_wrap">

        <div id="topStory_wrap">
        
            <div class="title_wrap">
                <h2>
                    <%= topStoryByUpvotes.storyTitle  %>
                </h2>
            </div>

            <div class="storyInfo_wrap">
                <div class="storyInfo_item">

                    <div class="sotoryItem_wrap">
                        <img src="../../../IMAGES/Icons/clock.webp" alt="clock">
                        <p>                            
                                <span class="importanINfo"><%= topStoryByUpvotes.readingTime  %></span> 
                                minutes read
                        </p> 
                    </div>

                    <div class="sotoryItem_wrap">
                        <img src="../../../IMAGES/Icons/signature.webp" alt="clock">
                        <p>    
                                Written By                        
                                <span class="importanINfo">
                                    <%= topStoryByUpvotes.creditingName  %>
                                </span>                                  
                        </p> 
                    </div>

                </div>
                <p class="storyInfo_summary">
                    <%= topStoryByUpvotes.storySummary  %>

                    <!-- reamore link -->
                    <a href="/terrorTales/horrorStory/<%= topStoryByUpvotes.slug  %>" class="readMoreLink">Read More....</a>
                </p>
            </div>

        </div>

        <ul id="listWrap_small">

            <% for(let i = 0; i < topStorys.length; i++){ %>

                <li class="listItem">

                    <a href="/terrorTales/horrorStory/<%= topStorys[i].slug  %>" class="listItem_link_wrap">

                        <div class="title_wrap">
                            <h2>
                                <%= topStorys[i].storyTitle  %>
                            </h2>
                        </div>
                        
                        <div class="content_wrap_">

                            <div class="storyInfo_item">
        
                                <div class="sotoryItem_wrap">
                                    <img src="../../../IMAGES/Icons/clock.webp" alt="clock">
                                    <p>                            
                                            <span class="importanINfo"><%= topStorys[i].readingTime  %></span> 
                                            minutes read
                                    </p> 
                                </div>
        
                                <div class="sotoryItem_wrap">
                                    <img src="../../../IMAGES/Icons/signature.webp" alt="clock">
                                    <p>    
                                            Written By                        
                                            <span class="importanINfo">
                                                @<%= topStorys[i].creditingName  %>
                                            </span>                                  
                                    </p> 
                                </div>                            
        
                            </div>  
                            
                            <p class="storyInfo_summary">
                                <%- topStorys[i].storySummary  %>
                                <!-- read more -->
                                <span class="readMoreLink">Read More ....</span>
                            </p>

                        </div>

                    </a>

                </li>

            <% } %>

        </ul>

    </div>    

</section>